{% extends 'base.html' %}
{% load static %}

{% block card %}

    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Dashboard</h2>
      </div>
    </header>
    <!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            <a href="" download>
                <img src="" alt="#">
            </a>
            <a href="" type="button" class="btn btn-primary" download>Download</a>
        </div>
    </div>
</section>


{% endblock %}