{% extends 'admin_base.html' %}
{% load static %}

{% block card %}

    <!-- Page Header-->
    <header class="page-header">
      <div class="container-fluid">
        <h2 class="no-margin-bottom">Dashboard</h2>
      </div>
    </header>
    <!-- Dashboard Counts Section-->
    <section class="dashboard-counts no-padding-bottom">
      <div class="container-fluid">
        <div class="row bg-white has-shadow">
          <!-- Item -->

          <!-- Item -->
          <div class="col-xl-4 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-green"><i class="icon-padnote"></i></div>
              <div class="title"><span>Members<br></span>
                <div class="progress">
                  <div role="progressbar" style="width: 70%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                </div>
              </div>
              <div class="number"><strong>{{total_members}}</strong></div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}