{% extends 'admin_base.html' %}
{% load static %}

{% block card %}
<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Update Resource Video</h2>
  </div>
</header>
<section class="dashboard-counts no-padding-bottom">
<div class="container-fluid">
  <div class="row bg-white has-shadow">
    <div class="container bootstrap snippets bootdey">
        <a href="/resource/video/">ADD</a>
        <a href="/resource/video_list/">LIST</a>
      <form name="image_video" id="image_video" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-12 mb-3">
            <label for="exampleFormControlInput1" class="form-label">Video Name</label>
            <input type="text" value="{{header.video_name}}" name="video_name" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <div class="col-lg-12 mb-3">
              <label for="exampleFormControlInput1" class="form-label">Visible For</label>
              <!--Prefix-->
              <select class="form-control" id="visible_for_id" name="visible_for" aria-label="Default select example" required>
                    <option value="0" {% if header.member_type == '0' %} selected {% endif %}>All members</option>
                    <option value="1" {% if header.member_type == '1' %} selected {% endif %}>Individual members</option>
                    <option value="2" {% if header.member_type == '2' %} selected {% endif %}>Organizational members</option>
                    <option value="3" {% if header.member_type == '3' %} selected {% endif %}>Accredited members</option>
              </select>
          </div>
          <div class="col-lg-12">
              <label for="doc_file_path" class="form-label">Video</label>
              <div class="form-group  color video">
                  <input type="hidden" value="{{header.file}}" name="doc_file_path" id="doc_file_path" class="form-control" multiple="">
                  <input type="file" name="doc_file" id="doc_file_id" class="form-control">
              </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-lg-5">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
        </div>
      </form>
</div>
  </div>
</div>
</section>
{% endblock %}